
.vs/newjaposha/xs/project-cache/newjaposha-Debug.json
.vs/newjaposha/xs/UserPrefs.xml
bin/Debug/net5.0/mono_crash.11a6748113.0.json
bin/Debug/net5.0/newjaposha.Views.dll
bin/Debug/net5.0/newjaposha.Views.pdb
mono_crash.11a6748113.0.json
obj/Debug/net5.0/newjaposha.csproj.FileListAbsolute.txt
obj/Debug/net5.0/newjaposha.Views.dll
obj/Debug/net5.0/newjaposha.Views.pdb
obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
obj/newjaposha.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache

bin/Debug/
obj/
.vs/
*.cache
*.DS_Store
.DS_Store
*.cache
obj/Debug/net5.0/newjaposha.csprojAssemblyReference.cache
obj/newjaposha.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/newjaposha.csprojAssemblyReference.cache
*.cache
obj/project.nuget.cache
obj/project.assets.json
obj/newjaposha.csproj.nuget.g.props
obj/newjaposha.csproj.nuget.dgspec.json
obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/newjaposha.Views.pdb
obj/Debug/net5.0/newjaposha.Views.dll
obj/Debug/net5.0/newjaposha.RazorCoreGenerate.cache
obj/Debug/net5.0/newjaposha.pdb
obj/Debug/net5.0/newjaposha.genruntimeconfig.cache
obj/Debug/net5.0/newjaposha.dll
obj/Debug/net5.0/newjaposha.csprojAssemblyReference.cache
obj/Debug/net5.0/newjaposha.csproj.FileListAbsolute.txt
obj/Debug/net5.0/newjaposha.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/newjaposha.assets.cache
bin/Debug/net5.0/newjaposha.Views.pdb
bin/Debug/net5.0/newjaposha.Views.dll
bin/Debug/net5.0/newjaposha.runtimeconfig.dev.json
bin/Debug/net5.0/newjaposha.pdb
bin/Debug/net5.0/newjaposha.dll
.vs/newjaposha/v16/.suo
obj/Debug/net5.0/newjaposha.csprojAssemblyReference.cache
