@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Japosha sushi</h1>
        <p> <a href=""></a></p>
    </div>

    <div class="menu">
        <h1></h1>
    </div>
    
</div>


