@page
@model IndexModel
@{
    ViewData["Title"] = "Howme page";
}

<div class="text-center">
    <h1 class="display-4">Japosha</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
Соси хуй>
<p>pohui huinja</p>
>
