
@page
@model newjaposha.Pages.MenuModel
@{
  
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <title>Japosha</title>
   

    </head>

    <body>
        <header>
            <div class="hero-text-box">
                <h1>Sushi for everyone.<br>Lubimie Kamizjaki.</h1>
            </div>
            <div class="btn-m">
                <a class="btn btn-full" href="#">Order Sushi</a>
                <a class="btn btn-ghost" href="#">Show me more</a>
            </div>
        </header>
        <div class="row box-menu">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/bolsie_000032-1-300x200.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kuldne Saba (10 tk) 8,20 eur </h5>
                        <p class="card-text">Tempura hiidkrevett, salat, kreemjuust, omlett, seesamiseemned, unagi</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="~/img/bolsie_000014-3-300x200.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">California (8 tk) 5,70 eur</h5>
                        <p class="card-text">Kurk, avokaado, krabiliha, seesamiseemned</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="~/img/IMG_7690-300x200.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kalamehe (8 tk) 6,90 eur</h5>
                        <p class="card-text">Lõhe, merevetikas, seesamiseemned</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Kontinent.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kontinent (8 tk) 6,90 eur </h5>
                        <p class="card-text">Suitsulõhe, kreemjuust, kurk, seesamiseemned</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="~/img/kremli.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kremli (8 tk) 8,40 eur</h5>
                        <p class="card-text">Lõhe, krabiliha, avokaado, kreemjuust, seesamiseemned</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="~/img/futo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Futo (8 tk) 6,90 eur</h5>
                        <p class="card-text">Lõhe, krabiliha, avokaado, kurk, masago</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/Arizona.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Arizona (8 tk) 6,90 eur </h5>
                        <p class="card-text">Avokaado, kreemjuust, tuunikala, seesamiseemned</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="~/img/KuldneSaba.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Philadelfia (8 tk) 6,90 eur</h5>
                        <p class="card-text">Lõhe, avokaado, kreemjuust, seesamiseemned</p>
                        <a href="#" class="btn btn-primary">Add in order</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="~/img/bolsie_000021-2-300x200.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Red Star (8 tk) 8,40 eur</h5>
                        <p class="card-text">Tuunilala, avokaado kreemjuust, krabiliha, unagi kaste, seesam</p>
                        <div >
                            <a href="#" class="btn btn-primary">Add in order</a>
                        </div>
                    </div>
                </div>
            </div>



</body>



</html>

